{% extends 'header.html' %}

{% block body %}

<div class="container2">
    <nav class="navbar">
        <a href="/" class="brand-logo">
            <div class="brand-logo-text">
                Cooked
            </div>
        </a>

        <div class="navbar-items">
            <a href="/"  class="navs">Home</a>
            <a href="/find" class="navs">Find a recipe</a>
            <a href="/"  class="navs">Contact Us</a>
        </div>

        <div class="navbar-button"></div>
    </nav>

    <div class="hero-section-find">
        <h1 class="find-main-heading">Find your perfect recipe</h1>

        <form action="/find" method="POST">
            <input type="text" id="ingredients" name="ingredients" class="input-box"
                placeholder="Enter your ingredients here..." autocomplete="off" required>
            <input type="submit" value="Find Recipe" class="submit-button">
        </form>

        <h1 style="margin-bottom: 50px;">Recipe Results</h1>

        {% if error_message %}
        <p style="color:red; font-size: 30px;">{{ error_message }}</p>
        {% endif %}
        {% if recipes %}
        <div class="recipe-container">

            {% for recipe in recipes %}

            {% if recipe.image %}
            <div class="recipe-card">
                <!-- Image on the left side -->
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <div class="recipe-detail">
                    <!-- Recipe name and link on the right side -->
                    <h2>{{ recipe.title }}</h2>
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">View Recipe</a>
                </div>
            </div>
                
            {% endif %}
            
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes found for the given ingredients. Please try again with different ingredients.</p>
    {% endif %}

    </div>
</div>

{% endblock body %}