{% extends 'header.html' %}

{% block body %}
<div class="container3">
    <nav class="navbar">
        <a href="/" class="brand-logo">
            <div class="brand-logo-text">
                Cooked
            </div>
        </a>

        <div class="navbar-items">
            <a href="/" class="navs">Home</a>
            <a href="/find" class="navs">Find a recipe</a>
            <a href="/" class="navs">Contact Us</a>
        </div>

        <div class="navbar-button"></div>
    </nav>

    <div class="recipe-detailed-card">

        <h1>{{ recipe.title }}</h1>
        <br><br>
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" width="400">
        <br><br>
        <p><strong>Ready in:</strong> {{ recipe.readyInMinutes }} minutes</p>
        <br>
        <p><strong>Servings:</strong> {{ recipe.servings }}</p>

        <br><br><br>
        <h2>Ingredients :</h2>
        <br>
        <ul>
            {% for ingredient in recipe.extendedIngredients %}
            <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}</li>
            {% endfor %}
        </ul>

        <br><br><br>

        <h2>Instructions : </h2>
        <br>
        <p>{{ recipe.instructions | safe }}</p>

        <br><br><br>

        <a href="/find">Back to Recipe Search</a>

    </div>
</div>
{% endblock body %}